<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Update Product</title>
</head>
<body>
<h1>Update Product</h1>
<form th:action="@{'/products/save'}" method="post" th:object="${selectProduct}">
    <p>
        <label for="id">ID: </label>
        <input type="text" id="id" th:field="*{id}">
<!--                   *{id} ~~~ selectProduct.id-->
<!--        th:filed đóng 2 vai trò:
            // 1. tự sinh ra 1 attribute cho ô text này tên là name = tên cột nó đang chỉ định , tên cột đang map vào object ở trên name = id
            // 2. điền value của cột vào ô nhập

-->
    </p>
    <p>
        <label for="name">Name: </label>
        <input type="text" id="name" th:field="*{name}">
<!--                                 name = "name" value = selectProduct.name-->
    </p>
    <p>
        <label for="quantity">Quantity: </label>
        <input type="number" id="quantity" th:field="*{quantity}">
<!--                                        name = "quantity" value = selectProduct.quantity-->
    </p>
    <p>
        <label for="price">Price: </label>
        <input type="number" id="price" th:field="*{price}">
<!--                                    name = "price" value = selectProduct.price-->
    </p>
    <p>
        <label for="category">Category: </label>
        <select id="category" th:field="*{category}">
            <option th:each="x : ${categories} "
                    th:value="${x.id}"
                    th:text="${x.name}"
                    th:selected="${selectProduct.category != null and selectProduct.category.id == x.id}"
            >???</option>
        </select>
    </p>
    <p>
        <button type="submit">Save</button>
    </p>
</form>
</body>
</html>